<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <main>
      <ul id="users">
        @for(user of users; track user.id){
        <li>
          <app-user [users]="user" (select)="onSelectUser($event)" />
        </li>
        }
      </ul>
      @if(selectUser){
      <app-task [name]="selectUser.name" />
      }@else{
      <p id="fallback">select a user to see the tasks</p>
      }
    </main>
  </body>
</html>
