<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <main>
      <ul id="users">
        <!-- @for(user of users; track user.id){ -->
        <li *ngFor="let user of users">
          <app-user
            [selected]="user.id === selected_uid"
            [users]="user"
            (select)="onSelectUser($event)"
          />
        </li>
        <!-- } -->
      </ul>
      <!-- @if(selectUser){ -->
      <app-tasks
        *ngIf="selectUser; else fallback"
        [name]="selectUser.name"
        [userId]="selectUser.id"
      />
      <!-- }@else{ -->
      <ng-template #fallback>
        <p id="fallback">select a user to see the tasks</p>
      </ng-template>
      <!-- } -->
    </main>
  </body>
</html>
